@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    background: color #0f0f0f;
  }
  
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  .d{
    width: 100vw;
    height: 20vh;
  }

 .x {
  background-image: url('./assets/grid-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 100;
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
 }
 .s{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 }
.x p{
  text-align: center;
}
.xx{
  background-image: url('./assets/grid-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: black
}

.par img{
  width: 70%;
  height: 70vh;
  margin-bottom: 20px;
  margin: auto;
  opacity: 0.3;
}
.dd img{
  opacity: 0.35;
  height: 55vh;
  margin-top: 10%;
}


.par{
  margin-top: -30px;
}
.container {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 768px; 
    text-align: center;
}

.header2 {
  margin-bottom: 2rem; 
}

.header2 h2 {
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
  max-width: 40rem; 
  font-size: 3.7rem;
  font-weight: 600;
  line-height: 3rem; 
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .container {
      top: 40%;
  }

  .header2 h2 {
      font-size: 3.7rem;
      line-height: 4.5rem; 
  }
}

.stats {
  margin-bottom: 2rem;
}

.stats ul {
  display: flex;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem; 
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.stats li {
  color: gray; /* Adjust as needed */
  font-family: 'NB Architekt', sans-serif; /* Substitute with actual font family */
  text-align: center;
}

.stats .number {
  font-size: 3rem; /* 80px */
  font-weight: 400;
  line-height: 3.5rem; /* 56px */
  display: block;
}

@media (min-width: 768px) {
  .stats {
      margin-bottom: 0;
      grid-template-columns: repeat(3, 1fr);
      gap: 0;
  }
}

@media (min-width: 1024px) {
  .stats {
      gap: 3.25rem; /* 52px */
  }
}
header{
  padding: 20px;
}
.co{
  background-color: #0f0f0f;
}
.r{
  max-width: 80rem
}
.h{
  border-radius:5px;height:100%;width:100%
}
.hh{
  width:100%;height:100%;border-radius:inherit;
  width:1583px; height:945px;
}
.re{
  background-color: black;
  background-image: url('./assets/w.jpeg'); 
  background-size: cover; 
  background-position: center;
  filter: saturate(0.01);
transition: filter 0.7s ease-in;
}
.re:hover{
  filter: saturate(0.7);
}
.fd{
  font-family:  'Montserrat', sans-serif; 
  font-weight: 300;
}
.cv{
  font-size: 60px;
  height: 100%;
  border: 2px solid rgb(54, 59, 189);
  padding: 30px 40px;
  border-radius: 55px;
  background: rgba( 255, 255, 255, 0.1 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.ds{
  width: 20vw;
  height: 60vh;
}

.db{
  width: 100%;
  margin: auto;
}
.ty{
  font-size: 13px;
}
.da-1{
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  /* background-image: url(./assets/w3.jpeg); */
  filter: saturate(0.01);
  transition: filter 0.4s ease-in;
}
.da-1:hover{
  filter:saturate(1);

}
.da-2{
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  /* background-image: url(./assets/w3.jpeg); */
  filter: saturate(0.01);
  transition: filter 0.4s ease-in;
}
.da-2:hover{
  filter:saturate(1);
}
.da-3{
  background: rgba( 255, 255, 255, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2.5px );
  -webkit-backdrop-filter: blur( 2.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  /* background-image: url(./assets/w3.jpeg); */
  filter: saturate(0.01);
  transition: filter 0.4s ease-in;
}
.da-3:hover{
  filter:saturate(1);
}
.gaa{
  gap: 4rem;
}

